@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");


.post-tag {

}
.post-tag-content {
  width: 100%;
}
.post-tag-icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
.post-tag-text {
  font-size: 12px;
  font-family: Inter, sans-serif;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
 
  white-space: nowrap;
  word-wrap: break-word;
}

.post-item {
    padding-top: 1.25em;
    padding-bottom: 1.5em;
}
  .post-item-last {
    padding-top: 1.25em;

}
.post-item-first {
  padding-top: 0.25em;
  padding-bottom: 1.5em;
}
.post-wrapper {

}
  .sample-image-wrapper {
    margin-top: 1.15em;
    height: 348px;
    align-items: center;
    justify-content: center;
    flex:1;
    margin-bottom: 1em;
    padding-left: 1.625em;
    padding-right: 1.625em;
    border-radius: 14px;
    position: relative;
    max-width: 100%;
  }
  .post-0{
    background-repeat: no-repeat;
    position: relative;
    background-image: linear-gradient(108deg, #4a9685, #3a5b6c);
    min-height:100%;
    z-index: 11;
    border-radius: 14px;
    transition: all .15s linear;
    min-width: 100%;
  }
  .post-0:hover {
    transform: scale(1.03);
  }
  .figure-0 {
    border-radius: 14px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    background-position:center;
    box-shadow: 6px 6px 2px 4px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    background-size:auto;
    background-image: url('./layers/relax.svg');
  }
  .post-1{
    background-repeat: no-repeat;
    position: relative;
    background-image: linear-gradient(112deg, #bacd78, rgb(44, 91, 65));
    min-height:100%;
    z-index: 11;
    transition: all .15s linear;
    border-radius: 14px;
    min-width: 100%;
  }
  .post-1:hover {
    transform: scale(1.03);
  }
  .figure-1 {
    border-radius: 14px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    background-position: center;
    box-shadow: 6px 6px 2px 4px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url('./layers/hightech.svg');
  }
  .post-2{
    background-repeat: no-repeat;
    position: relative;
    background-image: linear-gradient(112deg, #a04b79, #554264);

    min-height:100%;
    z-index: 11;
    transition: all .15s linear;
    border-radius: 14px;
    min-width: 100%;
  }
  .post-2:hover {
    transform: scale(1.03);
  }
  .figure-2 {
    border-radius: 14px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    background-position:0.25em -1.25em;
    box-shadow: 6px 6px 2px 4px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./layers/alonetime.svg');
  }
  .post-3{
    background-repeat: no-repeat;
    position: relative;
    background-image: linear-gradient(108deg, #d6d28c, #6b613b);
    min-height:100%;
    z-index: 11;
    transition: all .15s linear;
    border-radius: 14px;
    min-width: 100%;
  }
  .post-3:hover {
    transform: scale(1.03);
  }
  .figure-3 {
    border-radius: 14px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    background-position: center;
    box-shadow: 6px 6px 2px 4px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./layers/study.svg');
  }
  .post-4{
    background-repeat: no-repeat;
    position: relative;
    background-image: linear-gradient(108deg, #c57b8e, #5e3a42);
    min-height:100%;
    z-index: 11;
    transition: all .15s linear;
    border-radius: 14px;
    min-width: 100%;
  }
  .post-4:hover {
    transform: scale(1.03);
  }
  .figure-4 {
    border-radius: 14px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    background-position: center;
    box-shadow: 6px 6px 2px 4px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url('./layers/discussion.svg');
  }
  .post-5:hover {
    transform: scale(1.03);
  }
  .post-5{
    background-repeat: no-repeat;
    position: relative;
    background-image: linear-gradient(108deg, #4a7b96, #0f4865);
    min-height:100%;
    z-index: 11;
    transition: all .15s linear;
    border-radius: 14px;
    min-width: 100%;
  }
  .figure-5 {
    border-radius: 14px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    background-position: -.5em;
    box-shadow: 6px 6px 2px 4px rgba(0,0,0,0.15);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./layers/feedback.svg');
  }
  .mile-post-item {
    padding-top: .875em;
    padding-bottom: .825em;
  }
  .image-wrapper {
    margin-top: .75em;
    background-color: rgba(10, 10, 10, 1);
    height: 298px;
    border-radius: 10px;
    position: relative;
    max-width: 100%;
  }
  .post-profile-wrapper {
    width: 100%;
    box-sizing: border-box;
    display: flex;

    padding-left: 1.125em;
  }
  .post-profile-header {
    display: flex;
    align-items: center;
    width:100%;
  }
.actionbar-wrapper {
  margin-top:.5em;
  margin-left:1.275em;
}
.edit-post-button {
  background-color: transparent;
  border:none;
  outline:none;
  align-self: flex-end;

}
.edit-post-icon {

  right:0;
  background-color: transparent;
  color:rgb(187, 187, 187);
  min-width:1.725em;
  min-height:1.725em;
  margin-right:1.275em;
 
  bottom:0;
  transition: all .15s linear;
}
.edit-post-icon:hover {
  transform: scale(1.15);
  color: #3aad93;
}
.edit-post-link {
  bottom:0;
  align-self: flex-end;
  vertical-align: bottom;
  margin-left: auto;

}
.milestone-post-image {
  max-height:100%;
  object-fit:cover;
  z-index: 11;
  transition: all .15s linear;
  border-radius: 14px;
  box-shadow: 6px 6px 2px 4px rgba(0,0,0,0.15);
  min-width: 100%;
}
.milestone-post-image:hover {
  transform: scale(1.04);
}

.caption-button {
  font-size: 10px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: rgb(144, 144, 144);
  word-wrap: break-word;
  text-decoration: none;
  transition: all .1s linear;
  background-color: transparent;
  outline:none;
  border:none;
}
.caption-button:hover {
  color:#3aad93;
}
.user-profile-link {
  text-decoration: none;
  padding: 0;
  margin:0;
}







.caption-frame {
  margin-top: 8px;
  padding-left: 30px;
  width: 305px;
  height: 32px;
}

.caption-header {
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}

.caption-context {
  font-size: 10px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: rgb(144, 144, 144);
  word-wrap: break-word;
  text-decoration: none;

  transition: all .1s linear;
}
.caption-context:hover {
  color:#3aad93;
}
.profile-pic {
  width: 30px;
  height: 30px;
  margin-right: 9px;
}

.image-frames {
  height: 100%;
  width: 100%;

  justify-content: center;

}

.user-name {
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
  margin-bottom: 2px;
}

.post-date {
  font-size: 10px;
  font-family: Inter, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  word-wrap: break-word;
}